node_modules/
dist/
build/
.env
.vite/

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/

events.db
events.db-journal
*.db
*.sqlite3

.DS_Store
